body {
    margin: 0 0;
    font-family: 'Trebuchet MS';
    background-color: white;
}
.menu {
    min-height: 116px;
    white-space: nowrap;
    font-family: 'Open Sans', sans-serif;
    padding-left: 10%;
    font-size:0;
}

.logo {
    display: inline-block;
    width: 45%;
    padding: 45px 0;
    font-size: 36px;
    color: #ee8129;
}
.company_name {
    text-transform: uppercase;
    color: #3070A8;
}
.main_menu {
    display: inline-block;
    margin-left: -8px;
    width: 55%;
    vertical-align: bottom;
    font-size: 14px;
    text-transform: uppercase;
}
.menu_point {
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    color: #989898;
    border-bottom: 4px solid white;
    width: 17%;
    margin-right:-.36em;
    padding-bottom: 40px;
}

.menu_point:hover {
    border-bottom: 4px solid #3070A8;
    color: #3070A8;
}
.banner {
    width: 100%;
    min-height: 585px;
    background: url(img/background_banner.png) 0 0 no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.banner_name {
    padding-top: 150px;
    font-size: 36px;
    margin-bottom: 35px;
}
.banner_text {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: bold;
}
.banner_descr {
    font-style: italic;
    margin-bottom: 45px;
}
.banner_button {
    text-transform: uppercase;
    width: 245px;
    height: 58px;
    border: 1px solid #98A9B6;
    border-radius: 1px;
    background-color: transparent;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.banner_button:active {
    box-shadow: 0 0 3px #fff;
}
.services {
    min-height: 563px;
}

.middle {
    width: 100%;
    min-height: 577px;
    background: url(img/middle.png) 0 0 no-repeat;
    background-size: cover;
}

.testimonials {
    padding: 40px 0;
    width: 100%;
    background: url(img/background_testimonials.png) 0 0 no-repeat;
    background-size: cover;
}

.testimonials_header {
    color: #3170AB;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    padding-bottom: 40px;
}

.first_word {
    color: #ee8129;
}

.testimonial_container {
    margin: 0 13%;
}

.testimonial_content {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    margin-left: 3%;
    margin-bottom: 20px;
}

.testimonial_content:nth-child(2n-1) {
    margin-left: 0;
}

.testimonial_img {
    float: left;
}

.testimonial_block {
    position: relative;
    margin-left: 125px;
    border: 1px solid white;
    background-color: #f7f7f7;
}

.testimonial_block:before {
    position: absolute;
    content: url(img/triangle.png);
    margin-left: -16px;
    margin-top: 40px;
}

.text_header {
    text-align: right;
    margin: 10px 15px;
    font-size: 13px;
    font-style: italic;
    color: #3070A8;
    padding-bottom: 5px;
    border-bottom: 1.5px dotted grey;
}

.testimonial_name{
    float: left;
}

.testimonial_name:before {
    content: '- '
}

.testimonial_text {
    margin: 13px 15px;
    color: #666;
}

.price_container {
    text-align: center;
    font-family: 'Trebuchet MS';
    margin-bottom: 75px;
}

.price_header {
    font-size: 30px;
    text-transform: uppercase;
    margin: 75px 0 65px 0;
    color: #41525c;
}

.container {
    display: inline-block;
    vertical-align: middle;
    width: 288px;
    border: 5px solid #ee8129;
    border-radius: 5px;
    font-family: 'Trebuchet MS';
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    overflow: hidden;
}
.standart, .ultimate {
    border: 1px solid #E8EAEC;
    box-shadow: none;
}
.standart {
    position: relative;
    margin-right: -7px;
    z-index: 5;
}

.ultimate {
    position: relative;
    margin-left: -8px;
    z-index: 10;
}

.best {
    position: relative;
    z-index: 100;
}
.standart .header, .ultimate .header {
    padding: 26px 0 19px 0;
}

.header {
    background-color: #ee8129;
    text-transform: uppercase;
    padding: 28px 0px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.standart .header {
    background-color: #37c2d3;
}

.ultimate .header {
    background-color: #1cb79a;
}
.header-content {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 23px;
    padding-bottom: 27px;
    color: #3f4042;
}

.price {
    text-align: center;
    padding-bottom: 27px;
    font-size: 72px;
    font-weight: bold;
    color: #35495A;
}

.price:before {
    font-size: 36px;
    content: "$";
    vertical-align: super;
    
}

.price:after {
    font-size: 18px;
    content: "Montly";
    vertical-align: sub;
}

.list ul {
    text-align: left;
    margin: 0 auto;
    padding: 0 0;
    width: 259px;
    margin-bottom: 18px;
}

.list ul li {
    padding: 10px 0;
    padding-left: 47px; 
    background-color: #EDF5FD;
    color: #888C94;
    font-size: 15px;
    list-style: none;
}

.list ul li:nth-child(2n) {
    background-color: #F5F5F6;
}

.list ul li:before {
    content: url(img/ico.png);
    margin-right: 17px;

}

.button {
    text-align: center;
    margin-bottom: 30px;
}

.standart .button, .ultimate .button {
    margin-bottom: 20px;
}

.button input {
    padding: 14px 0;
    background-color: #ee8129;
    color: white;
    width: 253px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-bottom: 3px solid #B3560B;
    border-radius: 5px;
}

.button input:active {
    border-bottom: none;
    margin-bottom: 3px;
}

.footer {
    overflow: hidden;
    min-height: 345px;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.about {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: 50%;
    min-height: 345px;
    background-color: white;
    padding: 42px 0 32px 13%;
    line-height: 28px;
}

.address, .phone, .mail {
    padding-left: 60px;
}

.address::before {
    content: url(img/location.png);
    margin-left:-60px;
    margin-right: 37px;
}
.phone::before {
    content: url(img/phone.png);
    margin-left:-60px;
    margin-right: 42px;
}
.mail::before {
    content: url(img/mail.png);
    margin-left:-60px;
    margin-right: 37px;
}

.social {
    margin-top: 20px;
}
.fb, .tw, .in {
    display: inline-block;
    margin-right: 20px;
}
.map {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    min-height: 345px;
    background: url(img/map.png) 0 0 no-repeat;
    background-size: cover;
}

.copyright {
    width: 100%;
    font-size: 14px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 30px 0;
    line-height: 25px;
    background-color: #3070A8;
}
.bold, .black_color {
    font-weight: bold;
}
.black_color {
    color: black;
}