body {
    width: 80%;
    margin: 0 auto;
}

.title {
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #696664;
    border-bottom: 1px solid grey;
}

.menu {
    padding: 10px 0;
}

.menu a {
    box-sizing: border-box;
    text-decoration: none;
    color: #696664;
    padding: 8px 12px;

}

.menu a:hover {
    color: #B9064F;
    border-bottom: 2px solid #B9064F;
    border-top: 2px solid #B9064F;
}

.content {
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px;
    background-color: #F5F2F0;
    border-radius: 5px;
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.5);
}

dl {
    margin: 0;
}

dt {
    color: #3C3C3B;
}

dt a {
    text-decoration: none;
    color: #B9064F;
}

dd {
    color: #8B8987;
}

.up a{
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: transparent;
    opacity: .5;
    bottom: 40px;
    right: 40px;
    content: url(up.png);
}
.up a:hover {
    opacity: 1;
}

.arrow_box a{
    position: absolute;
    width: 100px;
    height: 100px;
    right: 30px;
    top: 30px;
    border-radius: 10px;
    background: #ebe8e6;
    border: 4px solid #ebe8e6;
    cursor: pointer;
    content: url(house.png);
    opacity: .5;
}

.arrow_box a:hover {
    opacity: 1;
}