<md-content class="md-padding">
    <div class="container">
        <div class="flex flex-h">
            <span class="md-headline">RSA</span>
        </div>
        <div class="flex flex-h">
            <span class="md-headline">Bob</span>
            <md-input-container>
                <label>Input text</label>
                <textarea ng-model="rsa.inputBob" rows="5" cols="100"></textarea>
            </md-input-container>
            <md-input-container>
                <label>Bob`s Public Key</label>
                <textarea ng-model="rsa.publicKeyBob" rows="5" cols="100"></textarea>
            </md-input-container>
        </div>
        <div class="flex flex-h">
            <span class="md-headline">Alice</span>
            <md-input-container>
                <label>Input text</label>
                <textarea ng-model="rsa.inputAlice" rows="5" cols="100"></textarea>
            </md-input-container>
            <md-input-container>
                <label>Alice`s Public Key</label>
                <textarea ng-model="rsa.publicKeyAlice" rows="5" cols="100"></textarea>
            </md-input-container>
        </div>
        <div layout-gt-sm="row" class="flex flex-h">
            <span class="">Bob</span>
            <md-input-container>
                <label>Input pass phrase</label>
                <input type="text" ng-model="rsa.passphraseBob">
            </md-input-container>
            <span class="">Alice</span>
            <md-input-container>
                <label>Input pass phrase</label>
                <input type="text" ng-model="rsa.passphraseAlice">
            </md-input-container>
            <md-input-container>
                <label>Length (bit)</label>
                <md-select ng-model="rsa.length">
                    <md-option ng-repeat="mode in rsa.lengths" ng-value="mode.value">
                        {{mode.name}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div layout-gt-sm="row" class="flex flex-h flex-w">
            <md-button ng-disabled="!rsa.passphraseBob || !rsa.passphraseAlice || !rsa.length" ng-click="rsa.generateKeys()" class="md-raised">
                Generate keys   
            </md-button>
            <md-button ng-disabled="!rsa.inputBob || !rsa.publicKeyAlice" ng-click="rsa.encryptBob()" class="md-raised">
                Encrypt by Bob (Key from Alice)
            </md-button>
            <md-button ng-disabled="!rsa.inputBob || !rsa.privateKeyBob" ng-click="rsa.decryptBob()" class="md-raised">
                Decrypt by Bob
            </md-button>
            <md-button ng-disabled="!rsa.inputAlice || !rsa.publicKeyBob" ng-click="rsa.encryptAlice()" class="md-raised">
                Encrypt by Alice (Key from Bob)
            </md-button>
            <md-button ng-disabled="!rsa.inputAlice || !rsa.privateKeyAlice" ng-click="rsa.decryptAlice()" class="md-raised">
                Decrypt by Alice
            </md-button>
            <input on-read-file="rsa.openFile($fileContent)" id="fileInput6" type="file" class="ng-hide"
                   accept="text/plain">
            <md-button class="md-raised">
                <label for="fileInput6">Open</label>
            </md-button>
            <md-button ng-disabled="!rsa.input" ng-click="rsa.download()" class="md-raised">Save</md-button>
            <md-button ng-disabled="!rsa.input && !rsa.key && !rsa.method" ng-click="rsa.clear()"
                       class="md-raised">New
            </md-button>
        </div>
    </div>
</md-content>
