<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Chat</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="chatApp">
<div class="container" ng-controller="ChatAppController as ctrl" ng-cloak>
    <div class="menu__hamburger hamburger">
        <span class="hamburger__span"></span>
        <span class="hamburger__span"></span>
        <span class="hamburger__span"></span>
    </div>
    <section class="menu menu--active">
        <div class="menu__search">
            <input placeholder="Search..." class="menu__search-input" ng-model="ctrl.query">
        </div>
        <div class="menu__users users">
            <div class="users__user" ng-class="{'users__user--selected' : ctrl.isSelectedUser(user)}"
                 ng-repeat="user in ctrl.users | filter:ctrl.query" ng-click="ctrl.chooseUser(user)">
                <img src="{{user.img}}" alt="" class="users__user-img">
                <div class="users__user-name">{{user.name}}</div>
            </div>
        </div>
    </section>
    <section class="chat">
        <div class="chat__messages">
            <div class="chat__message message"
                 ng-class="{'message--sender': ctrl.isSender(message), 'message--recipient': ctrl.isRecipient(message)}"
                 ng-repeat="message in ctrl.currentUser.messages">
                <img ng-if="message.type == 'owner'" src="img/avatar.jpg" alt="avatar" class="message-img">
                <img ng-if="message.type == 'receiver'" src="{{ctrl.currentUser.img}}" alt="avatar" class="message-img">
                <div class="message-text"
                     ng-class="{'message-text--sender': ctrl.isSender(message),'message-text--recipient': ctrl.isRecipient(message)}">
                    {{message.message}}
                </div>
            </div>
        </div>
        <form class="chat__input input">
            <textarea ng-model="ctrl.messageText" class="input-message" placeholder="Click here to write something"></textarea>
            <input ng-click="ctrl.sendMessage()" type="submit" class="input-send"/>
        </form>
    </section>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
<script src="js/script.js"></script>
<script src="js/app.js"></script>
</body>
</html>