body {
    font-family: Economica;
    font-weight: bold;
}

.header {
    width: 100%;
    background-color: #00b8f5;
    position: relative;
}

.menu {
    width: 900px;
    text-align: center;
    color: white;
    padding: 0 0;
    margin: auto;
}

.menu li {
    display: inline-block;
    font-weight: none;
    font-size: 20px;
    line-height: 40px;
    text-transform: uppercase;
    padding: 0 8px;
}

.travels {
    background-color: #f5f5f5;
    width: 100%;
    color: grey;
    display: inline-block;
    position: absolute;
    text-align: left;
    padding: 0 0;
    text-align: center;
    left: 0;
    top: 40px;
    line-height: 25px;
    border-bottom: 2px solid grey;
    display: none;
}

.travel:hover {
    color: grey;
    background-color: #f5f5f5;
}
.travel:hover .travels{
    display: block;
}

.travels li {
    font-size: 15px;
    line-height: 25px;
    text-transform: capitalize;
    padding: 0 8px;
}