<!DOCTYPE html>
<html lang="en" ng-app="cryptographyApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cryptography App</title>
  <link rel="stylesheet" href="app/assets/css/style.css">
  <link rel="stylesheet" href="app/assets/css/angular-material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
</head>
<body>
  <section class="cipher" ng-controller="CryptographyController as crypt">
    <div class="container">
      <div class="flex flex-h">
        <md-input-container>
          <label>Input text</label>
          <textarea ng-model="crypt.input" rows="8" cols="100"></textarea>
        </md-input-container>
      </div>
      <div layout-gt-sm="row" class="flex flex-h">
        <md-input-container>
          <label>Method</label>
          <md-select ng-model="crypt.method">
            <md-option ng-repeat="method in crypt.methods" ng-value="method.value">
              {{method.name}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container>
          <label>Key</label>
          <input type="number" ng-model="crypt.key">
        </md-input-container>
      </div>
      <div layout-gt-sm="row" class="flex flex-h flex-w">
        <md-button ng-disabled="!crypt.input || !crypt.method || !crypt.key" ng-click="crypt.encrypt()" class="md-raised">Encrypt</md-button>
        <md-button ng-disabled="!crypt.input || !crypt.method || !crypt.key" ng-click="crypt.decrypt()" class="md-raised">Decrypt</md-button>
        <input on-read-file="crypt.openFile($fileContent)" id="fileInput" type="file" class="ng-hide" accept="text/plain">
        <md-button class="md-raised">
          <label for="fileInput">Open</label>
        </md-button>
        <md-button ng-disabled="!crypt.input" ng-click="crypt.download()" class="md-raised">Save</md-button>
        <md-button ng-disabled="!crypt.input && !crypt.method && !crypt.key" ng-click="crypt.clear()" class="md-raised">New</md-button>
      </div>
    </div>
  </section>
  <script src="app/assets/js/angular.min.js" type="text/javascript"></script>
  <script src="app/assets/js/angular-aria.min.js"></script>
  <script src="app/assets/js/angular-animate.min.js"></script>
  <script src="app/assets/js/angular-material.min.js"></script>
  <script src="app/assets/js/angular-file-saver.bundle.js" type="text/javascript"></script>
  <script src="app/app.js" type="text/javascript"></script>
  <script src="app/controllers/CryptographyController.js" type="text/javascript"></script>
  <script src="app/services/CipherFactory.js" type="text/javascript"></script>
  <script src="app/services/CaesarService.js" type="text/javascript"></script>
  <script src="app/services/TrithemiusService.js" type="text/javascript"></script>
  <script src="app/directives/onReadFile.js" type="text/javascript"></script>
</body>
</html>
